<h1>Log in</h1>
<p id="notice"><%= notice %></p>
<%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
<p>New user? <%= link_to "Sign up now", new_user_path %></p>