<%= form_with(model: relation, local: true) do |form| %>
  <% if relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Country<br><%= form.collection_select( :countrycode, @countries, :id, :name ) %>
  </div>

  <div class="field">
    Indicator<br><%= form.collection_select( :indicatorcode, @indicators, :id, :name ) %>
  </div>

  <div class="field">
    <%= form.label :y2007 %>
    <%= form.number_field :y2007, id: :relation_y2007 %>
  </div>

  <div class="field">
    <%= form.label :y2008 %>
    <%= form.number_field :y2008, id: :relation_y2008 %>
  </div>

  <div class="field">
    <%= form.label :y2009 %>
    <%= form.number_field :y2009, id: :relation_y2009 %>
  </div>

  <div class="field">
    <%= form.label :y2010 %>
    <%= form.number_field :y2010, id: :relation_y2010 %>
  </div>

  <div class="field">
    <%= form.label :y2011 %>
    <%= form.number_field :y2011, id: :relation_y2011 %>
  </div>

  <div class="field">
    <%= form.label :y2012 %>
    <%= form.number_field :y2012, id: :relation_y2012 %>
  </div>

  <div class="field">
    <%= form.label :y2013 %>
    <%= form.number_field :y2013, id: :relation_y2013 %>
  </div>

  <div class="field">
    <%= form.label :y2014 %>
    <%= form.number_field :y2014, id: :relation_y2014 %>
  </div>

  <div class="field">
    <%= form.label :y2015 %>
    <%= form.number_field :y2015, id: :relation_y2015 %>
  </div>

  <div class="field">
    <%= form.label :y2016 %>
    <%= form.number_field :y2016, id: :relation_y2016 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
