<p id="notice"><%= notice %></p>

<h1>Relations</h1>

<p>
  <i>Search relations by country or indicator's code</i><br>
  <%= form_tag(relations_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>
</p>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Indicator</th>
      <th>2007</th>
      <th>2008</th>
      <th>2009</th>
      <th>2010</th>
      <th>2011</th>
      <th>2012</th>
      <th>2013</th>
      <th>2014</th>
      <th>2015</th>
      <th>2016</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relations.each do |relation| %>
      <tr>
        <% @countries.each do |country| %>
          <% if relation.countrycode == country.code %>
            <td><%= country.name %> <i><%= country.code %></i></td>
          <% end %>
        <% end %>
        <% @indicators.each do |indicator| %>
          <% if relation.indicatorcode == indicator.code %>
            <td><%= indicator.name %> <i><%= indicator.code %></i></td>
          <% end %>
        <% end %>
        <td><%= relation.y2007 %></td>
        <td><%= relation.y2008 %></td>
        <td><%= relation.y2009 %></td>
        <td><%= relation.y2010 %></td>
        <td><%= relation.y2011 %></td>
        <td><%= relation.y2012 %></td>
        <td><%= relation.y2013 %></td>
        <td><%= relation.y2014 %></td>
        <td><%= relation.y2015 %></td>
        <td><%= relation.y2016 %></td>
        <td><%= link_to 'Show', relation %></td>
        <td><%= link_to 'Edit', edit_relation_path(relation) %></td>
        <td><%= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relation', new_relation_path %>
