<p id="notice"><%= notice %></p>

<h3>
  <% @countries.each do |country| %>
    <% if @relation.countrycode == country.code %>
      <% @indicators.each do |indicator| %>
        <% if @relation.indicatorcode == indicator.code %>
          <%= country.name %> : <%= indicator.name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</h3>


<p>
  <strong>Codes: <%= @relation.countrycode %> - <%= @relation.indicatorcode %></strong>
</p>

<p>
  <strong>2007:</strong>
  <%= @relation.y2007 %>
</p>

<p>
  <strong>2008:</strong>
  <%= @relation.y2008 %>
</p>

<p>
  <strong>2009:</strong>
  <%= @relation.y2009 %>
</p>

<p>
  <strong>2010:</strong>
  <%= @relation.y2010 %>
</p>

<p>
  <strong>2011:</strong>
  <%= @relation.y2011 %>
</p>

<p>
  <strong>2012:</strong>
  <%= @relation.y2012 %>
</p>

<p>
  <strong>2013:</strong>
  <%= @relation.y2013 %>
</p>

<p>
  <strong>2014:</strong>
  <%= @relation.y2014 %>
</p>

<p>
  <strong>2015:</strong>
  <%= @relation.y2015 %>
</p>

<p>
  <strong>2016:</strong>
  <%= @relation.y2016 %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
