<h1>World Charts</h1>
<div id="chart-A" style="width:100%; height:400px;"><script></script></div>
<div class="spacer" style="height:20px;"></div>
<div id="chart-D" style="width:100%; height:400px;"><script></script></div>
<div class="spacer" style="height:20px;"></div>
<div id="chart-C" style="width:100%; height:400px;"><script></script></div>
<div class="spacer" style="height:20px;"></div>
<div id="chart-B" style="width:100%; height:400px;"><script></script></div>
<script type="text/javascript">
$(function population () { 
    $('#chart-A').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Female and male population'
        },
        xAxis: {
            categories: ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
        },
        yAxis: {
            title: {
                text: 'Population'
            }
        },
        series: [{
            name: 'Female',
            data: <%=raw @popanf %>
        }, {
            name: 'Male',
            data: <%=raw @popanm %>
        }]
    });
    $('#chart-B').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Female and male adult mortality rate'
        },
        xAxis: {
            categories: ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
        },
        yAxis: {
            title: {
                text: ' '
            }
        },
        series: [{
            name: 'Female',
            data: <%=raw @admranf %>
        }, {
            name: 'Male',
            data: <%=raw @admranm %>
        }]
    });
    $('#chart-C').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Female and male life expectancy at birth'
        },
        xAxis: {
            categories: ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
        },
        yAxis: {
            title: {
                text: 'Years'
            }
        },
        series: [{
            name: 'Female',
            data: <%=raw @liexanf %>
        }, {
            name: 'Male',
            data: <%=raw @liexanm %>
        }]
    });
    $('#chart-D').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Female and male population divided by age groups (2015)'
        },
        xAxis: {
            categories: ['0 - 14', '15 - 64', '65+']
        },
        yAxis: {
            title: {
                text: 'Population'
            }
        },
        series: [{
            name: 'Female',
            data: <%=raw @popcompf %>
        }, {
            name: 'Male',
            data: <%=raw @popcompm %>
        }]
    });
});
</script>