<h1>Home</h1>

<p>Welcome! This web application analyses different dynamics of a population, such as growth, composition, life expectancy and mortality rate in different countries and aggregates </p>

<p>The database was selected from the <a href= "http://datatopics.worldbank.org/health/home">Health, Nutrition and Population Data Portal</a> of the <a href="http://www.worldbank.org/">World Bank</a> and contains 23 <a href="/indicators">indicators</a> and 225 <a href="/countries">countries</a>, which create over 5 thousand <a href="/relations">series</a>.</p>

<p>You can access the world <a href="population_dynamics/charts">charts</a> without logging in, but to browse the database is necessary to be registered.</p>

<p>The <a href="/countries/2">Show</a> page of a country displays charts about the composition (by sex and age) of its population. In the indicators' table you can find their definition and source.</p> 