<p id="notice"><%= notice %></p>

<h2><%= @country.name %> (<%= @country.code %>)</h2>

<p>Total population: <%= @populationtot.y2015 %> (2015)</p>

<div id="chart-A" style="width:100%; height:400px;"><script></script></div>
<div class="spacer" style="height:20px;"></div>
<div id="chart-B" style="width:100%; height:400px;"><script></script></div>
<div class="spacer" style="height:20px;"></div>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>

<script type="text/javascript">
$(function () { 
    $('#chart-A').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Female and male population from 2007 to 2015'
        },
        xAxis: {
            categories: ['2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007']
        },
        yAxis: {
            title: {
                text: 'Population'
            }
        },
        series: [{
            name: 'Female',
            data: <%=raw @popanf %>
        }, {
            name: 'Male',
            data: <%=raw @popanm %>
        }]
    });
    $('#chart-B').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Female and male population divided by age groups (2015)'
        },
        xAxis: {
            categories: ['0 - 14', '15 - 64', '65+']
        },
        yAxis: {
            title: {
                text: 'Population'
            }
        },
        series: [{
            name: 'Female',
            data: <%=raw @popcompf %>
        }, {
            name: 'Male',
            data: <%=raw @popcompm %>
        }]
    });
});
</script>