<p id="notice"><%= notice %></p>

<h1>Indicators</h1>

<p>
  <i>Filter indicators by code or name</i><br>
  <%= form_tag(indicators_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>
</p>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Definition</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td><%= indicator.code %></td>
        <td><%= indicator.name %></td>
        <td><%= indicator.definition %></td>
        <td><%= indicator.source %></td>
        <td><%= link_to 'Show', indicator %></td>
        <td><%= link_to 'Edit', edit_indicator_path(indicator) %></td>
        <td><%= link_to 'Destroy', indicator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicator', new_indicator_path %>
