<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @indicator.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @indicator.name %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @indicator.definition %>
</p>

<p>
  <strong>Source:</strong>
  <%= @indicator.source %>
</p>

<%= link_to 'Edit', edit_indicator_path(@indicator) %> |
<%= link_to 'Back', indicators_path %>
