<div class="topnav">
  <a class="active" href="/">Population Dynamics</a>
  <a href="/population_dynamics/charts">Charts</a>
  <a href="/indicators">Indicators</a>
  <a href="/countries">Countries</a>
  <a href="/relations">Indicator-Country Series</a>
  <%=link_to 'Log in', login_path %>
  <%=link_to 'Log out', logout_path %>
</div>

