<!DOCTYPE html>
<html>
  <head>
    <title>PopdynD</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial=> "layouts/menu" %>
    <div class="prova"><%= yield %></div>
  </body>
</html>
